body {
	background: lightgrey;
	font-family: arial;
	padding: 0;
	margin: 0;
}


/*Global classes*/
.container {
	margin:auto;
	width:90%;
	overflow:auto;
}

h1 {
	color: #666;
	padding:0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


/*Headers*/
header {
	min-height: 40px;
	padding: 0.5% 0% 1%;
}

header nav ul{
	float: right;
}

header nav li {
	float: left;
}

header li a {
	display: inline-block;
	text-decoration: none;
	color:grey;
	text-align: center;
	padding: 15px 15px;
}

header li a:hover{
	color:white;
	background-color: darkgrey;
}

header li a:active {
	color:white;
	background-color: black;	
}

header .current a {
	color:white;
	background-color: darkgrey;
}


/*Links*/
#links .link {
	float: left;
	height: 15%;
	width: 15%;
	padding: 50px 10px 10px;
	text-align: center;
	vertical-align: text-bottom;
}

/*The LinkedIn logo was floating a little higher than the rest, so this is needed to make it align with the rest*/
#links .link-linkedIn {
	float: left;
	height: 15%;
	width: 15%;
	padding: 50px 10px 10px;
	text-align: center;
}

#links .link img {	
	height: auto;
	vertical-align: bottom;
	position: relative;
	width: 70px;
}

#links .link:hover, #links .link-linkedIn:hover {
	background-color: darkgrey;
}

/*Make it responsive so it stacks on top of each other*/
@media screen and (max-width: 460px){
	#links .link, #links .link-linkedIn {
		width: 100%;
	}
}

/*Face*/
#face {
	padding: 10% 0px;
	margin: 0px;
	background-color: cornflowerblue;
	text-align: center;
	margin: auto;
	color: white;
	font-size: 16;
}