body {
	/*background: lightgrey;*/
	background-image: url("/pexels-photo-1332373.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	font-family: arial;
	padding: 0;
	margin: 0;
}


/*Global classes*/
.container {
	margin:auto;
	width:90%;
	overflow:auto; 
}

h1 {
	color: rgb(51, 51, 51);
	padding:0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


/*Headers*/
header {
	min-height: 40px;
	padding: 0.5% 0% 1%;
}

header nav ul{
	float: right;
}

header nav li {
	float: left;
}

header li a {
	display: inline-block;
	text-decoration: none;
	color:grey;
	text-align: center;
	padding: 15px 15px;
}

header li a:hover{
	color:white;
	background-color: darkgrey;
}

header li a:active {
	color:white;
	background-color: black;	
}

header .current a {
	color:white;
	background-color: darkgrey;
}


/*Links*/
#links .link {
	box-sizing: border-box;
	float: left;
	height: 15%;
	width: 25%;
	padding: 50px 10px 10px;
	text-align: center;
	vertical-align: text-bottom;
}

/*The LinkedIn logo was floating a little higher than the rest, so this is needed to make it align with the rest*/
#links .link-linkedIn {
	box-sizing: border-box;
	float: left;
	height: 15%;
	width: 25%;
	padding: 50px 10px 10px;
	text-align: center;
}

#links .link img {	
	height: auto;
	vertical-align: bottom;
	position: relative;
	width: 70px;
}

#links .link:hover, #links .link-linkedIn:hover {
	background-color: darkgrey;
}

/*Make it responsive so it stacks on top of each other*/
@media screen and (max-width: 460px){
	#links .link, #links .link-linkedIn {
		width: 100%;
	}
}

/*Face*/
#face{
	padding: 10% 0px;
	/*
	Since I'm only using 1 background image, this method is enough.
	Other methods I've tried that involves background-size: cover/fixed are negatively affecting performance.
	Maybe I can use JS further down the line to do this frosted glass effect.
	*/
	background-image: url("/blurred-face.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: inherit;
	background-position: center;
	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.15);
	text-align: center;
	margin: auto;
	color: white;
	font-size: 16;
}


/*Contact me form*/
.form-container h1 {
	padding: 10px 0px 0px;
}

input[type=text], input[type=email], textarea {
	min-width: 15%;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 5px;
	box-sizing: border-box;
}

textarea {
	min-width: 30%;
	min-height: 200px;
}

.message {
	padding: 10px 0px 0px;
}

label {
	padding: 12px 12px 12px 0;
	display: table-cell;
	text-align: left;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
	border: 3px solid darkgrey;
	display: table-cell;
}

button[type=submit] {
	margin: 4px 2px;
	border: 1px solid grey;
	border-radius: 2px;
	cursor: pointer;
}